<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input type="search" class="filtro" placeholder="O que você procura?" autofocus [(ngModel)]="filter"
        (keyup)="findMessage()">
      <img src="/assets/imagens/lupa.png" alt="Lupa azul">
    </div>
    <h2 class="ff-inter">{{ title }}</h2>

    <div class="botoes">
      <button class="botao" (click)="recarregarComponente()">Meu Mural</button>
      <button class="botao" (click)="listarFavoritos()">Meus Favoritos</button>
      <button routerLink="/createMessage" class="botao">Adicionar pensamento</button>
    </div>

    <div class="mural" *ngIf="messages.length > 0, else semPensamentos ">
      <div *ngFor="let message of messages">
        <app-message [message]="message" [listaFavoritos]="listaFavoritos"></app-message>
      </div>
    </div>
  </header>
</section>
<app-button-loading-more-messages [hasMoreMessages]="hasMoreMessages" (click)="loadMoreMessage()">
</app-button-loading-more-messages>
<ng-template #semPensamentos class="mural">
  <div class="ff-inter sem-pensamentos">
    <p>Ainda não há pensamentos cadastrados</p>
  </div>
</ng-template>