<div class="message {{ message.modelo }} ff-roboto-mono" [ngClass]="larguraMessage()">
  <img src="/assets/imagens/{{ message.modelo }}.png" alt="Aspas coloridas">
  <p class="conteudo">{{ message.conteudo }}</p>
  <p class="autoria"><b>{{ message.autoria }}</b></p>
  <div class="acoes">
    <button class="botao-favorito" (click)="atualizarFavoritos()">
      <img src="/assets/imagens/icone-favorito-{{ mudarIconeFavorito() }}.png"
        alt="Ícone favorito {{ mudarIconeFavorito() }}">
    </button>
    <button class="botao-editar" routerLink="/editMessage/{{message.id}}">
      <img src="/assets/imagens/icone-editar.png" alt="Ícone de editar">
    </button>
    <button class="botao-excluir" routerLink="/deleteMessage/{{message.id}}">
      <img src="/assets/imagens/icone-excluir.png" alt="Ícone de excluir">
    </button>
  </div>
</div>